body{
    background-size: cover;
}

.copyrightFooter{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    line-height: 2;
    background-color: rgb(127, 247, 143);
}

canvas{
    border: 2px solid white;
    border-radius: 39px;
    margin-top: 50px;
}